.container{
    width: 70%;
    margin:auto;
    padding: 50px;
    /* background-color: rgb(251, 251, 249); */
    border: none;
    border-radius: 25px;
}
body{
    background: linear-gradient(to right, #f3f8f7, #eeeff4);
    
}