<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!-- <h1>Hello World</h1> -->
<!--
<div class="container">
<div>
  <pent-houseCompo></pent-houseCompo>
</div>
<div> -->
  <!-- <app-navbar></app-navbar> -->
  <!-- <app-welcome></app-welcome> -->
  <!-- <emp-form></emp-form> -->
  <!-- <app-book></app-book> -->
  <!--
</div>
</div> -->
<!-- <app-flag-list></app-flag-list>  -->
<!-- <app-animal-list></app-animal-list> -->

<!-- <app-trustee></app-trustee> -->
 <!-- <app-product></app-product>  -->
 <!-- <app-employee></app-employee> -->
<!-- <app-trustee></app-trustee> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-book-list></app-book-list> -->
<router-outlet></router-outlet>

<!-- <app-event-boot> -->
  
<!-- </app-event-boot> -->

  
</body>
</html>