h2{
    text-align: center;
    background-color: rgb(51, 224, 31);
    height: 90px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(6, 8, 8);
    border: none;
    border-radius: 30px;
    width: 50%;
    margin:auto;
}