<div class="container">
    <div class="card text-center">
        <div class="card-header">
          ADD CAR
        </div>
        <div class="card-body">
            <form [formGroup]="addCar" (ngSubmit)="saveCar(car)">
           


              <div class="example-container">
                <mat-form-field hintLabel="Max 4 characters" appearance="fill" class="full-width-field">
                  <mat-label>Enter Car ID</mat-label><br>
                  <input matInput #id maxlength="4" placeholder="Ex. C1" name="id" formControlName="id" class="id"/>
                  <mat-hint align="end">{{id.value.length}}/4</mat-hint>
                </mat-form-field>
                </div><br>

                <div class="example-container">
                  <mat-form-field hintLabel="Max 20 characters" appearance="fill" class="full-width-field">
                    <mat-label>Enter Car Name</mat-label><br>
                    <input matInput #name maxlength="20" placeholder="Ex. Car" name="name" formControlName="name" class="name"/>
                    <mat-hint align="end">{{name.value.length}}/20</mat-hint>
                  </mat-form-field>
                  </div><br>

                  <div class="example-container">
                    <mat-form-field hintLabel="Max 20 characters" appearance="fill" class="full-width-field">
                      <mat-label>Enter Place</mat-label><br>
                      <input matInput #place maxlength="20" placeholder="Ex. Pune" name="place" formControlName="place" class="place"/>
                      <mat-hint align="end">{{place.value.length}}/20</mat-hint>
                    </mat-form-field>
                    </div><br>

                    <div class="example-container">
                      <mat-form-field appearance="fill" class="full-width-field">
                        <mat-label>Enter Car Price</mat-label><br>
                        <input matInput #price max="300000" placeholder="Ex. 2000" name="price" formControlName="price" class="price"/>
                        
                      </mat-form-field>
                      </div><br>

                      <div class="example-container">
                        <mat-form-field hintLabel="Max 60 characters" appearance="fill" class="full-width-field">
                          <mat-label>Enter Car Image URL</mat-label><br>
                          <input matInput #image maxlength="60" placeholder="Ex. ./url" name="image" formControlName="image" class="image"/>
                          <mat-hint align="end">{{image.value.length}}/60</mat-hint>
                        </mat-form-field>
                        </div><br>

                        <div class="example-container">
                          <mat-form-field  appearance="fill" class="full-width-field">
                            <mat-label>Enter Car Quantity</mat-label><br>
                            <input matInput #quantity max="60" placeholder="Ex. 10" name="quantity" formControlName="quantity" class="quantity"/>
                            <mat-hint align="end">{{quantity.value.length}}/60</mat-hint>
                          </mat-form-field>
                          </div>
    
              <button id="btn1" [disabled]='!addCar.valid ||!addCar.dirty' class="btn btn-success">SAVE</button>
              </form>
        </div>
        
      </div>
      </div>