
<br><div class="container">
<div class="card">

<br>
    <div class="card-header" >To Do List</div><br>
    <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
    <input style="margin-left:20px" type="text" name="todo" id="todo"  #todo="ngModel" ngModel>
  
    <input style="color: blue; margin-left: 20px; " type="submit" value="Add ToDo">
  </form>
  <ul><br>
  
    <div *ngFor="let todo of allTodos$ | async">
  

        <li>{{todo.content}} <span style="color:black;background-color: aquamarine;size:small;" class = " btn btn-danger" (click)="removeTodo(todo)">x</span></li>
  <!-- <li (click)="removeTodo(todo)" >{{todo.content}} -->
    <!-- </li> -->
  


  </div></ul>
  </div>
  </div>