.card-header { text-align: center;
font-weight: bold;
color:red;
font-size: larger;
width: 50%;
margin-left: 120px;
background-color:aqua;

}

.card {
    /* align-items: center; */
    border: 2px red solid;
    width: 50%;
    margin-top: 100px;
    margin-left: 250px;
    
    

}
